.counter{
    text-align: center;
    background: black;
    padding: 20px;
  }

  .counter div{
    color:white;
    background: #101010;
    font-size: 80px;
    padding: 20px;
    margin: 8px;
    border-radius: 10%;
    line-height:30px;
    display: inline-block;
  }

  .big{
    margin: 20px;
  }